body {
  background-color: #B5DCFF;
}

body#alt {
  background-color: #B5B7FF;
}

header {
  background-color: #D8B5FF;
}

img {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 200px;
}
