.outline-css {
  margin: 50px;

  outline-style: solid;
  outline-color: blue;
  outline-width: 20px;

  outline-offset: 25px;


  border: dashed orange 10px;
}

div.line1 {
  display: inline-block;
  background-color: red;
}

div.line2 {
  display: flex;
  background-color: pink;
}
